@model Models.LoginInputModel

@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewData["Title"] = "Login";
}

<!--begin::Login Sign in form-->
<div class="login-signin">
    <div class="mb-20">
        <h3>Login</h3>
        <p class="opacity-60 font-weight-bold">Entre com os dados para logar na sua conta</p>
    </div>
    <form class="form" id="kt_login_signin_form" asp-action="Login">
        <input asp-for="token" name="token" id="token" hidden />
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-1 py-4 px-8 mb-5" asp-for="login" type="text" placeholder="login" name="login" autocomplete="off" required />
        </div>
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-1 py-4 px-8 mb-5" asp-for="password" type="password" placeholder="Password" name="password" required />
        </div>
        <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8">
            <div class="checkbox-inline">
                <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                    <input type="checkbox" name="lembrar" asp-for="lembrar" checked />
                    <span></span>Lembre me
                </label>
            </div>
            <a href="javascript:;" id="kt_login_forgot" class="text-white font-weight-bold">Esqueceu a senha ?</a>
        </div>
        <div class="form-group text-center mt-10">
            <button type="submit" id="kt_login_signin_submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">Entrar</button>
        </div>
    </form>
    @*Por enquando não deve usar o cadastro, nao remover esse codigo!*@
    @*<div class="mt-10">
        <span class="opacity-70 mr-4">Não possui uma conta ainda?</span>
        <a href="javascript:;" id="kt_login_signup" class="text-white font-weight-bold">Cadastre-se</a>
    </div>*@
</div>
<!--end::Login Sign in form-->
<!--begin::Login Sign up form-->
<div class="login-signup">
    <div class="mb-20">
        <h3>Cadastro</h3>
        <p class="opacity-60">Entre com os seus dados</p>
    </div>
    <form class="form text-center" id="kt_login_signup_form">
        <input name="token" id="tokenCadastro" hidden />
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-1 py-4 px-8" type="text" placeholder="Nome Completo" name="name" autocomplete="off" id="CadNome" />
        </div>
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-1 py-4 px-8" type="text" placeholder="Email" name="email" autocomplete="off" id="CadEmail" />
        </div>
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-1 py-4 px-8" type="text" placeholder="Login" name="login" autocomplete="off" id="CadLogin" />
        </div>
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-1 py-4 px-8" type="password" placeholder="Senha" name="password" autocomplete="off" id="CadPassword" />
        </div>
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-1 py-4 px-8" type="password" placeholder="Confirmar senha" name="cpassword" autocomplete="off" id="CadConfirmarPassword" />
        </div>
        <div class="form-group text-left px-8">
            Para ver os termos e condições&nbsp;&nbsp;<a href="@ViewBag.Termos" class="text-success font-weight-bold ml-1 " target="_blank">CLIQUE AQUI</a>.
        </div>
        <div class="form-group text-left px-8">
            <div class="checkbox-inline">
                <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                    <input type="checkbox" name="agree" id="CadAceite" />
                    <span></span>Eu concordo com os termos e condições.
                </label>
            </div>
            <div class="form-text text-muted text-center"></div>
        </div>
        <div class="form-group">
            <button id="kt_login_signup_submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3 m-2">Cadastrar</button>
            <button id="kt_login_signup_cancel" class="btn btn-pill btn-outline-white font-weight-bold opacity-70 px-15 py-3 m-2">Cancelar</button>
        </div>
    </form>
</div>
<!--end::Login Sign up form-->
<!--begin::Login forgot password form-->
<div class="login-forgot">
    <div class="mb-20">
        <h3>Esqueceu a senha?</h3>
        <p class="opacity-60">Entre com seu login ou email para cadastrar uma nova senha</p>
    </div>
    <form class="form" id="kt_login_forgot_form">
        <input name="token" id="tokenEsqueci" hidden />
        <div class="form-group mb-10">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-1 py-4 px-8" type="text" placeholder="Login ou email" name="login" autocomplete="off" id="EsqLogin" />
        </div>
        <div class="form-group">
            <button id="kt_login_forgot_submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3 m-2">Enviar</button>
            <button id="kt_login_forgot_cancel" class="btn btn-pill btn-outline-white font-weight-bold opacity-70 px-15 py-3 m-2">Cancelar</button>
        </div>
    </form>
</div>
<!--end::Login forgot password form-->

@section Scripts
{
    <!--begin::Page Scripts(used by this page)-->
    <script src="@Url.Content("~/js/login/login-general.js")"></script>
    <!--end::Page Scripts-->
    @if (ViewBag.Message != null)
    {
        <script>
            $(document).ready(function () {
                swal.fire({
                    html: "@ViewBag.Message",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "OK",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                }).then(function () {
                    KTUtil.scrollTop();
                });
             });
        </script>
    }
}
