
@{
    ViewData["Title"] = "Cadastro de nova Senha";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<!--begin::Senha-->
<div class="nova_senha">
    <div class="mb-20">
        <h3>@ViewBag.NovaSenha</h3>
        <p class="opacity-60">Entre com uma nova senha para: </p> <p class="text-danger opacity-0 h4 text-center"> @ViewBag.Nome </p>
    </div>
    <form class="form text-center" id="kt_nova_senha_form">
        <input name="token" id="token" hidden />
        <input name="token2" id="tokenNovaSenha" hidden value="@ViewBag.Token2" />
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-1 py-4 px-8" type="password" placeholder="Senha" name="password" autocomplete="off" id="NovPassword" />
        </div>
        <div class="form-group">
            <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-1 py-4 px-8" type="password" placeholder="Confirmar senha" name="cpassword" autocomplete="off" id="NovConfirmarPassword" />
        </div>
        <div class="form-group">
            <button id="kt_nova_senha_submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3 m-2">Ok</button>
            <button id="kt_nova_senha_cancel" class="btn btn-pill btn-outline-white font-weight-bold opacity-70 px-15 py-3 m-2">Cancelar</button>
        </div>
    </form>
</div>


@section Scripts
{
    <!--begin::Page Scripts(used by this page)-->
    <script src="@Url.Content("~/js/login/senha-general.js")"></script>
    <!--end::Page Scripts-->
}

<!--end::Senha-->
