USE [Bexx]
GO
/****** Object:  Table [dbo].[Ativo]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ativo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](10) NOT NULL,
	[nomeIng] [nvarchar](10) NULL,
	[nomeEsp] [nvarchar](10) NULL,
 CONSTRAINT [PK_Ativo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidade]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[atualizacao] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[iso] [int] NOT NULL,
	[isoDDD] [nvarchar](6) NOT NULL,
	[ordenacao] [int] NOT NULL,
 CONSTRAINT [PK_cidade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DarkList]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DarkList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ativo] [int] NOT NULL,
	[data] [datetime] NOT NULL,
	[ip] [nvarchar](25) NOT NULL,
	[latitude] [nvarchar](100) NOT NULL,
	[longitude] [nvarchar](100) NOT NULL,
	[motivo] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_DarkList] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[atualizacao] [int] NOT NULL,
	[idCidade] [int] NOT NULL,
	[idAdministrador] [int] NOT NULL,
	[idIdioma] [int] NOT NULL,
	[idAtivo] [int] NOT NULL,
	[nome] [nvarchar](255) NOT NULL,
	[nomeFantasia] [nvarchar](255) NULL,
	[telefone] [nvarchar](25) NULL,
	[celular] [nvarchar](25) NULL,
	[logradouro] [nvarchar](255) NULL,
	[identificacao] [nvarchar](11) NULL,
	[responsavel] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[dataValidade] [int] NOT NULL,
	[multilanguage] [nvarchar](5) NOT NULL,
	[observacao] [nvarchar](255) NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnderecoTipo]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnderecoTipo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[atualizacao] [int] NOT NULL,
	[nome] [nvarchar](9) NOT NULL,
	[nomeIng] [nvarchar](10) NULL,
	[nomeEsp] [nvarchar](10) NULL,
 CONSTRAINT [PK_EnderecoTipo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[atualizacao] [int] NOT NULL,
	[idPais] [int] NOT NULL,
	[idRegiao] [int] NOT NULL,
	[nome] [nvarchar](35) NOT NULL,
	[sigla] [char](2) NOT NULL,
	[iso] [int] NOT NULL,
	[ordenacao] [int] NOT NULL,
 CONSTRAINT [PK_estado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[atualizacao] [int] NOT NULL,
	[nome] [nvarchar](255) NOT NULL,
	[nomeIng] [nvarchar](255) NOT NULL,
	[nomeEsp] [nvarchar](255) NOT NULL,
	[sigla] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Lingua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[origem] [nvarchar](255) not null,
	[descricao][nvarchar](500) not null,
	[valor][text] not null,
	[ticket][nvarchar](50),
	[criacao] [datetime] NOT NULL,
	[atualizacao] [datetime] NOT NULL,
	[status] [int] not null,
 CONSTRAINT [PK_ticket] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Multilanguage]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multilanguage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sistema] [nvarchar](20) NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[descricao] [nvarchar](255) NULL,
 CONSTRAINT [PK_Multilanguage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[atualizacao] [int] NOT NULL,
	[isoCode] [char](2) NOT NULL,
	[isoCode3] [char](3) NULL,
	[nome] [nvarchar](64) NOT NULL,
	[nomeInternacional] [nvarchar](255) NULL,
	[idioma] [nvarchar](50) NULL,
	[culture] [nvarchar](10) NULL,
	[cultureIdioma] [char](3) NULL,
	[cultureIdioma3] [nvarchar](3) NULL,
	[nomeIng] [nvarchar](255) NULL,
	[nomeEsp] [nvarchar](255) NULL,
 CONSTRAINT [PK_pais] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regiao]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regiao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[atualizacao] [int] NOT NULL,
	[idLanguage] [int] NOT NULL,
	[nome] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_regiao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexo]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](9) NOT NULL,
	[nomeIng] [nvarchar](10) NULL,
	[nomeEsp] [nvarchar](10) NULL,
 CONSTRAINT [PK_Sexo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zona]    Script Date: 13/07/2021 09:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zona](
	[id] [int] NOT NULL,
	[atualizacao] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
	[nome] [nvarchar](80) NOT NULL,
	[iso] [nvarchar](2) NOT NULL,
	[isoNome] [nvarchar](80) NOT NULL,
	[nomeIng] [nvarchar](80) NULL,
	[nomeEsp] [nvarchar](80) NULL,
 CONSTRAINT [PK_zona] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ativo] ON 

INSERT [dbo].[Ativo] ([id], [nome], [nomeIng], [nomeEsp]) VALUES (1, N'Sim', N'Yes', N'Sí')
INSERT [dbo].[Ativo] ([id], [nome], [nomeIng], [nomeEsp]) VALUES (2, N'Não', N'No', N'No')
INSERT [dbo].[Ativo] ([id], [nome], [nomeIng], [nomeEsp]) VALUES (3, N'Bloqueado', N'Blocked', N'Obstruido')
SET IDENTITY_INSERT [dbo].[Ativo] OFF
GO
SET IDENTITY_INSERT [dbo].[Cidade] ON 

INSERT [dbo].[Cidade] ([id], [atualizacao], [idEstado], [nome], [iso], [isoDDD], [ordenacao]) VALUES (1, 20150714, 21, N'Alta Floresta D''oeste', 1100015, N'69', 9)
INSERT [dbo].[Cidade] ([id], [atualizacao], [idEstado], [nome], [iso], [isoDDD], [ordenacao]) VALUES (2, 20150714, 21, N'Ariquemes', 1100023, N'69', 9)
INSERT [dbo].[Cidade] ([id], [atualizacao], [idEstado], [nome], [iso], [isoDDD], [ordenacao]) VALUES (3, 20150714, 21, N'Cabixi', 1100031, N'69', 9)
GO
SET IDENTITY_INSERT [dbo].[Cidade] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([id], [atualizacao], [idCidade], [idAdministrador], [idIdioma], [idAtivo], [nome], [nomeFantasia], [telefone], [celular], [logradouro], [identificacao], [responsavel], [email], [dataValidade], [multilanguage], [observacao]) VALUES (1, 20151222, 3828, 1, 1, 1, N'BEXX', N'BEXX', NULL, NULL, NULL, NULL, N'rabello', NULL, 20501231, N'true', NULL)
SET IDENTITY_INSERT [dbo].[Empresa] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([id], [atualizacao], [idPais], [idRegiao], [nome], [sigla], [iso], [ordenacao]) VALUES (1, 20150714, 31, 1, N'Acre', N'AC', 12, 9)
INSERT [dbo].[Estado] ([id], [atualizacao], [idPais], [idRegiao], [nome], [sigla], [iso], [ordenacao]) VALUES (2, 20150714, 31, 2, N'Alagoas', N'AL', 27, 9)
INSERT [dbo].[Estado] ([id], [atualizacao], [idPais], [idRegiao], [nome], [sigla], [iso], [ordenacao]) VALUES (3, 20150714, 31, 1, N'Amazonas', N'AM', 13, 9)
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([id], [atualizacao], [nome], [nomeIng], [nomeEsp], [sigla]) VALUES (1, 20170310, N'Portugues', N'Portuguese', N'Portugués', N'pt-BR')
INSERT [dbo].[Idioma] ([id], [atualizacao], [nome], [nomeIng], [nomeEsp], [sigla]) VALUES (2, 20170310, N'Espanhol', N'Spanish', N'Español', N'es-ES')
INSERT [dbo].[Idioma] ([id], [atualizacao], [nome], [nomeIng], [nomeEsp], [sigla]) VALUES (3, 20170310, N'Inglês', N'English', N'Inglés', N'en-US')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([id], [atualizacao], [isoCode], [isoCode3], [nome], [nomeInternacional], [idioma], [culture], [cultureIdioma], [cultureIdioma3], [nomeIng], [nomeEsp]) VALUES (1, 20150714, N'AD', NULL, N'Andorra', NULL, N'English', N'en-US', N'en ', N'eng', N'Andorra', N'Andorra')
INSERT [dbo].[Pais] ([id], [atualizacao], [isoCode], [isoCode3], [nome], [nomeInternacional], [idioma], [culture], [cultureIdioma], [cultureIdioma3], [nomeIng], [nomeEsp]) VALUES (2, 20150714, N'AE', N'ARE', N'Emirados Árabes Unidos', N'U.A.E.', N'Arabic', N'ar-AE', N'ar ', N'ara', N'United Arab Emirates', N'Emiratos Árabes Unidos (Los)')
INSERT [dbo].[Pais] ([id], [atualizacao], [isoCode], [isoCode3], [nome], [nomeInternacional], [idioma], [culture], [cultureIdioma], [cultureIdioma3], [nomeIng], [nomeEsp]) VALUES (3, 20150714, N'AF', N'AFG', N'Afeganistão', N'Afghanistan', N'Pashto', N'ps-AF', N'ps ', N'pus', N'Afghanistan', N'Afganistán')
GO
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
SET IDENTITY_INSERT [dbo].[Regiao] ON 

INSERT [dbo].[Regiao] ([id], [atualizacao], [idLanguage], [nome]) VALUES (1, 20150714, 167, N'Norte')
INSERT [dbo].[Regiao] ([id], [atualizacao], [idLanguage], [nome]) VALUES (2, 20150714, 167, N'Nordeste')
INSERT [dbo].[Regiao] ([id], [atualizacao], [idLanguage], [nome]) VALUES (3, 20150714, 167, N'Sudeste')
SET IDENTITY_INSERT [dbo].[Regiao] OFF
GO
SET IDENTITY_INSERT [dbo].[Sexo] ON 

INSERT [dbo].[Sexo] ([id], [nome], [nomeIng], [nomeEsp]) VALUES (1, N'Masculino', N'Male', N'Hombre')
INSERT [dbo].[Sexo] ([id], [nome], [nomeIng], [nomeEsp]) VALUES (2, N'Feminino', N'Female', N'Mujer')
SET IDENTITY_INSERT [dbo].[Sexo] OFF
GO
INSERT [dbo].[Zona] ([id], [atualizacao], [idEstado], [nome], [iso], [isoNome], [nomeIng], [nomeEsp]) VALUES (0, 20150714, 26, N'Nenhum', N'0', N'DDD', N'None', N'Ninguno')
INSERT [dbo].[Zona] ([id], [atualizacao], [idEstado], [nome], [iso], [isoNome], [nomeIng], [nomeEsp]) VALUES (11, 20150714, 26, N'São Paulo e região', N'11', N'DDD', NULL, NULL)
INSERT [dbo].[Zona] ([id], [atualizacao], [idEstado], [nome], [iso], [isoNome], [nomeIng], [nomeEsp]) VALUES (12, 20150714, 26, N'V. do Paraíba e Litoral Norte', N'12', N'DDD', NULL, NULL)
GO
ALTER TABLE [dbo].[Cidade]  WITH CHECK ADD  CONSTRAINT [FK_cidade_estado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estado] ([id])
GO
ALTER TABLE [dbo].[Cidade] CHECK CONSTRAINT [FK_cidade_estado]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Ativo] FOREIGN KEY([idAtivo])
REFERENCES [dbo].[Ativo] ([id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Ativo]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Cidade] FOREIGN KEY([idCidade])
REFERENCES [dbo].[Cidade] ([id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Cidade]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Idioma] FOREIGN KEY([idIdioma])
REFERENCES [dbo].[Idioma] ([id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Idioma]
GO
ALTER TABLE [dbo].[Estado]  WITH CHECK ADD  CONSTRAINT [FK_estado_pais] FOREIGN KEY([idPais])
REFERENCES [dbo].[Pais] ([id])
GO
ALTER TABLE [dbo].[Estado] CHECK CONSTRAINT [FK_estado_pais]
GO
ALTER TABLE [dbo].[Estado]  WITH CHECK ADD  CONSTRAINT [FK_estado_regiao] FOREIGN KEY([idRegiao])
REFERENCES [dbo].[Regiao] ([id])
GO
ALTER TABLE [dbo].[Estado] CHECK CONSTRAINT [FK_estado_regiao]
GO
ALTER TABLE [dbo].[Zona]  WITH CHECK ADD  CONSTRAINT [FK_zona_estado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estado] ([id])
GO
ALTER TABLE [dbo].[Zona] CHECK CONSTRAINT [FK_zona_estado]
GO
