body {
    background-color: #dfdfdf !important;
}

.bg-rabs {
    background-color: #dfdfdf !important;
}

.bg-01 {
    background-color: #92298C !important;
}

.bg-02 {
    background-color: #662EBE !important;
    border: 1px solid red;
}

.bg-03 {
    background-color: #F09434 !important;
}

.bg-04 {
    background-color: #F05B30 !important;
}

.bg-05 {
    background-color: #707070 !important;
}

.bg-06 {
    background-color: #060F12 !important;
}


.bg-07 {
    background-color: #8D6CAB !important;
}


.bg-08 {
    background-color: #FC0D1B !important;
}


.bg-09 {
    background-color: #9296AD !important;
}


.bg-10 {
    background-color: #EFF1F2 !important;
}

.bg-11 {
    background-color: #FFFFFF !important;
}

.bg-12 {
    background-color: #59F5BC !important;
}

.tiledBackground {
    width: 300px;
    height: 300px;
    color: pink;
}

.hide {
    display: none !important;
}

.todas {
    color: #0033AA !important;
}

.twitch {
    color: #653da8 !important;
}

.youtube {
    color: #fe3432 !important;
}

.facebook {
    color: #3c5a9a !important;
}

.instagram {
    color: #e86343 !important;
}

.twitter {
    color: #41d1da !important;
}

.svg-icon.svg-icon-ativo svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #1bc5bd !important;
}

.svg-icon.svg-icon-naoatvo svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #f64e60 !important;
}

.svg-icon.svg-icon-carrossel svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #0a8800 !important;
}

.svg-icon.svg-icon-carrossel svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.svg-icon.svg-icon-donation svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #FFA800 !important;
}

.svg-icon.svg-icon-donation svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.svg-icon.svg-icon-chat svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #8950FC !important;
}

.svg-icon.svg-icon-chat svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.svg-icon.svg-icon-follow svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #F64E60 !important;
}

.svg-icon.svg-icon-follow svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.svg-icon.svg-icon-normal svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #F3F6F9 !important;
}

.svg-icon.svg-icon-normal svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.imgx120 {
    max-width: 120px;
    max-height: 120px;
    object-fit: cover !important;
    display: block;
    margin: auto;
}

.imgx150 {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover !important;
    display: block;
    margin: auto;
}

.backx250 {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}
